h1, h2, h3, h4, h5, h6, p, table, td, tr, th, a, ul, li, ol, small {
	font-family: 'Microsoft JhengHei','PT Sans Narrow','Source Han Sans TWHK',sans-serif !important;
}

.banner {
	padding-top: 50px;
	padding-bottom: 50px;
}

.fix-picture-size {
  width: 300px;
}

@media only screen and (max-width: 500px) {
	.fix-picture-size {
		height: 150px;
	} 
}

img {
  padding: 30px;
}
